div.errormessage {
    text-align: center;
    background: #dddddd;
    color: red;
}

.header-text{
    font-size: auto;
    font-family: fantasy;
    color: floralwhite;
    
}

.page-header{
    background-color: cornflowerblue;
}

.margin-top-10{
    margin-top: 10px;
}

.page-footer{
    background-color: cornflowerblue;
    margin: 0px;
    min-height: 50px;
}

.footer-text{
    color: floralwhite;
    font-size: medium;
    text-align: center;
}

.jumbotron{
background-color: cornflowerblue;
}

.body-text{
    background-color: aliceblue;
}

.text-success{
    color: green;
    font-weight: bold;
}

.text-fail{
    color: red;
    font-weight: bold;
}

.vertical-align{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.no-margin{
    margin-top: 21px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: auto;
    padding-bottom: 0px;
    
}

