div.errormessage {
    text-align: center;
    background: #dddddd;
    color: red;
}

.header-text{
    font-size: auto;
    font-family: fantasy;
    color: floralwhite
    
}

.page-header{
    background-color: cornflowerblue;
}